//For Titel pulling
@{
    ViewData["Title"] = "Employee List";
}

@model List<Employee>

<h2>All Employees</h2>
<a asp-controller="Employee" asp-action="Add" ><i class="btn btn-success mt-1"></i></a>

<table class="table">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Degination</th>
        <th>Level</th>
        <th>Department</th>
        <th>Join Date</th>
        <th>Action</th>
    </tr>
    
    @foreach(Employee employee in Model)
    {
        <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.Designation</td>
            <td>@employee.level</td>
            <td>@employee.Department</td>
            <td>@employee.JoinDate</td>
            <td>
                <a href="/employee/edit"><i class="bi bi-pencil-square"></i></a>
                <a href="/employee/delete"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
    }
    
</table>
